resource-server/.idea/
resource-server/.gradle/
resource-server/*.bat
resource-server/build/
resource-server/*.iml
resource-server/*.ipr
resource-server/*.iws

zuul-server/.idea/
zuul-server/.gradle/
zuul-server/*.bat
zuul-server/build/
zuul-server/*.iml
zuul-server/*.ipr
zuul-server/*.iws

oauth-server-social/.idea/
oauth-server-social/.gradle/
oauth-server-social/*.bat
oauth-server-social/build/
oauth-server-social/*.iml
oauth-server-social/*.ipr
oauth-server-social/*.iws


warmilab-codeconf/config-server/.idea/
warmilab-codeconf/config-server/.gradle/
warmilab-codeconf/config-server/*.bat
warmilab-codeconf/config-server/build/
warmilab-codeconf/config-server/*.iml
warmilab-codeconf/config-server/*.ipr
warmilab-codeconf/config-server/*.iws


warmilab-codeconf/eureka-server/.idea/
warmilab-codeconf/eureka-server/.gradle/
warmilab-codeconf/eureka-server/*.bat
warmilab-codeconf/eureka-server/build/
warmilab-codeconf/eureka-server/*.iml
warmilab-codeconf/eureka-server/*.ipr
warmilab-codeconf/eureka-server/*.iws


warmilab-codeconf/zuul-server/.idea/
warmilab-codeconf/zuul-server/.gradle/
warmilab-codeconf/zuul-server/*.bat
warmilab-codeconf/zuul-server/build/
warmilab-codeconf/zuul-server/*.iml
warmilab-codeconf/zuul-server/*.ipr
warmilab-codeconf/zuul-server/*.iws

warmilab-codeconf/product-services/.idea/
warmilab-codeconf/product-services/.gradle/
warmilab-codeconf/product-services/*.bat
warmilab-codeconf/product-services/build/
warmilab-codeconf/product-services/*.iml
warmilab-codeconf/product-services/*.ipr
warmilab-codeconf/product-services/*.iws